body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

#calculator{
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px black;
    background-color: rgb(31, 32, 30);
    max-width: 300px;
}

#screen{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.5em;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
    color: blueviolet;
}

.lol{
    grid-column: span 1;
    grid-row: span 2; 
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button{
    background-color: blueviolet;
}

button.clear{
    grid-column: span 2;
    background-color: red;
}
